<launch>

  <!-- Joint state controller -->
  <!-- <rosparam command="load" file="$(find reem_controller_configuration_gazebo)/config/reem_joint_state_controller.yaml" /> -->

  <!-- Sot controller -->
  <rosparam command="load" file="$(find reem_controller_configuration_gazebo)/config/reem_sot_controller.yaml" />

  <!-- Test controller -->
  <!-- <rosparam command="load" file="$(find reem_controller_configuration_gazebo)/config/reem_test_controller.yaml" /> -->

  <!-- Controllers that come up started -->
  <node name="sot_controllers_spawner"
        pkg="controller_manager" type="spawner" output="screen"
        args="sot_controller" />

</launch>
